# CONFIGURACIÓN DEL ENTORNO
# 1. Crea una copia de este archivo y llámala simplemente '.env'
# 2. Borra este archivo (.env.example) o déjalo como referencia.
# 3. Pega el código que te pasaron (las claves y contraseñas reales) en tu nuevo archivo '.env'.

DATABASE_URL=sqlite:///./cbtis258.db

# Seguridad (Cambia esto en producción)
SECRET_KEY=TU_CLAVE_SECRETA_AQUI
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# CORS
FRONTEND_URL=http://127.0.0.1:5501

# Email (Gmail) - Necesitas una "Contraseña de aplicación" de Google
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
MAIL_FROM=tu_correo@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id_aqui
