:root {
  --color-primary: #f20d0d;
  --color-primary-dark: #94272C;
  --color-primary-darker: #6e0404;
  --color-primary-gradient: #750616;
}

/* Soporte para Texto Grande */
html.large-text {
    font-size: 110% !important;
}

/* Forzar modo oscuro sobre CSS heredado */
html.dark body {
    background: #211111 !important;
    background-color: #211111 !important;
    color: #f8f6f6 !important;
}

html.dark {
    color-scheme: dark;
}
